@import "tailwindcss";

@layer utilities {

  .no-clear::-webkit-search-cancel-button {

    display: none;
    appearance: none;

  }

  .no-clear::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }

}

@theme {

  --color-fg: oklch(0.6824 0.0852 55.05);
  --color-fg-aph: oklch(0.6824 0.0852 55.05 / 60%);
  --color-fg-hover: oklch(0.4 0.0852 55.05);  
  --color-bg: oklch(0.898 0.0151 55.05);
  --color-bg-hover: oklch(0.7 0.0151 55.05);
  --color-bg-2: oklch(0.9 0 55.05);
  --color-text: oklch(0.111 0 5.32);
  --color-text-hover: oklch(0.333 0 5.32);
  --color-shadow: oklch(0.111 0 5.32 / 20%);

}