@import "tailwindcss";

@layer utilities {

  .no-clear::-webkit-search-cancel-button {

    display: none;
    appearance: none;

  }

  .no-clear::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }

  .validator-text{@apply text-[10px] text-wrap hyphens-auto
    wrap-break-word font-normal text-red-700;}

  
}


@layer base {

  svg {@apply stroke-1;}
  body {@apply text-text}
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

}

@theme {

  --color-fg: oklch(0.6824 0.0852 55.05);
  --color-success: oklch(0.6731 0.1973 140.82);
  --color-error: oklch(0.451 0.1719 27.74);
  --color-info: oklch(0.3869 0.1719 275.98);
  --color-fg-aph: oklch(0.6824 0.0852 55.05 / 30%);
  --color-fg-hover: oklch(0.64 0.0852 55.05);  
  --color-bg: oklch(0.898 0.0151 55.05);
  --color-bg-accent: oklch(0.92 0.0151 55.05);
  --color-gold: oklch(0.7894 0.1464 70.64);
  --color-gold-aph: oklch(0.7894 0.1464 70.64 / 30%);
  --color-bg-2: oklch(0.88 0.0151 55.05);
  --color-text: oklch(0.3 0 5.32);
  --color-text-hover: oklch(0.333 0 5.32);
  --color-shadow: oklch(0.111 0 5.32 / 20%);
  --shadow-default: 0 0 0 1px var(--tw-shadow-color);
  --shadow-default-2: 0 0 0 2px var(--tw-shadow-color);
  --shadow-default-xs: 0 0 0 3px var(--tw-shadow-color);
  --shadow-double-dxs:0 0 0 1px var(--tw-shadow-color),
  0 3px 5px 0 var(--tw-shadow-color);
  --shadow-comment: -2px 0 0 0 var(--tw-shadow-color);
  --animate-show: .5s show ease-in-out;
  --animate-max-width: .5s ease-out max-width;
  --animate-timing-toast: 5s reduce-width linear forwards;
  --animate-show-to-bottom: .5s show-to-bottom ease-out;

  @keyframes show {

    to { opacity: 0;}

  }

  @keyframes max-width {

    to {width: 99%;}

  }

  @keyframes reduce-width {

    to {width: 0%}

  }

  @keyframes show-to-bottom {

    from {
      opacity: 0;
      transform: translateY(-50px);
    } to {

      opacity: 1;
      transform: translateY(0)

    }

  }

}