@import "tailwindcss";

@layer utilities {

  .no-clear::-webkit-search-cancel-button {

    display: none;
    appearance: none;

  }

  .no-clear::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }


}

@layer base {

  svg {@apply stroke-1;}

}

@theme {

  --color-fg: oklch(0.6824 0.0852 55.05);
  --color-fg-aph: oklch(0.6824 0.0852 55.05 / 60%);
  --color-fg-hover: oklch(0.64 0.0852 55.05);  
  --color-bg: oklch(0.898 0.0151 55.05);
  --color-bg-hover: oklch(0.7 0.0151 55.05);
  --color-bg-2: oklch(0.88 0.0151 55.05);
  --color-text: oklch(0.111 0 5.32);
  --color-text-hover: oklch(0.333 0 5.32);
  --color-shadow: oklch(0.111 0 5.32 / 20%);
  --shadow-default: 0 0 0 1px var(--tw-shadow-color);
  --shadow-default-xs: 0 0 0 3px var(--tw-shadow-color);
  --animate-show: .5s show ease-in-out;
  --animate-max-width: .5s ease-out max-width;

  @keyframes show {

    to { opacity: 0;}

  }

  @keyframes max-width {

    to {width: 99%;}

  }

}